<div class="signup">
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form [formGroup]="signupform" (ngSubmit)="signup(signupform.value)">
            <h1>Sign Up</h1>
            <div class="social-container">
            <a href="#" class="social"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social"><i class="fa fa-google"></i></a>
            <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
        </div>
        <span>or use your account</span>
        <input type="text" name="name" placeholder="Name"  formControlName = "name">
        <input type="text" id="tuname1" name="username" placeholder="Username"  formControlName = "username">
        <input type="email"  name="email" formControlName = "email" placeholder="Email" >
        <input type="password" name="password" placeholder="Password" formControlName = "password" >
    <br>
    <br>
        <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hey, User!</h1>
                <p>Already, have an account ?</p>
                <a  [routerLink]="[ '/login']"><button class="ghost" >Login</button></a>
            </div>
        </div>
    </div>
    </div>
</div>
    <!-- <script>
            function validate1() 
            { 
            let user = document.getElementById("tuname1");
            
            if (user.value.trim() == "") {
                alert("Invalid Username");
                return false;
            }
            else {
                var fmov = user.value;
                sessionStorage.setItem("fmov1",fmov);
                return true;
            }
            }
    </script> -->
    <!--
        NOT USING RIGHT NOW 
        
        <script type="text/javascript">
    
    
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');
        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });
        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script> -->
    