.banner {
    height: 650px;
    background-image: url('https://free4kwallpapers.com/uploads/originals/2015/10/17/most-beautiful-travel-destinations.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 13%;
}

.banner-highlights {
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
}

.book-btn {
    width: 130px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
    margin-top: 20px;
}



.book-btn:hover {
    transition: 1s;
    transform: scale(1.2);
}
