<section class="features animatedParent animateOnce">
    <h1 class="slower animated rotateIn box" style="text-align: center; padding-bottom: 30px; font-family: sans-serif;font-weight: 700;">Featured
        Destinations</h1>
    <div class="container ">
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 slow animated fadeInDown box">
                <div class="feature-box">
                    <div class="feature-img">
                        <img
                            src="https://static01.nyt.com/images/2017/01/18/world/australia-newsletter/australia-newsletter-articleLarge.jpg?quality=75&auto=webp&disable=upscale">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">1,00,000 INR</span>
                        &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>

                        </span>
                        <div class="placename">
                            <h3>Sydney</h3>
                        </div>
                        <div class="summary">
                            <p>
                                Sydney, capital of New South Wales and one of Australia's largest cities,
                                is best known for its Sydney Opera House, with a distinctive sail-like design.

                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 slow animated fadeInDown box delay-500">
                <div class="feature-box">
                    <div class="feature-img">
                        <img
                            src="https://cdn-04.independent.ie/life/travel/article34651285.ece/4f0c0/AUTOCROP/w620/zurich.jpg">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">1,50,000 INR</span>
                        &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>


                        </span>
                        <div class="placename">
                            <h3>Zurich</h3>
                        </div>
                        <div class="summary">
                            <p>
                                The city of Zurich, a global center for banking and finance, lies at the north end
                                of Lake Zurich in northern Switzerland.
                                The picturesque lanes of the central Altstadt.

                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 slow animated fadeInDown box delay-1000">
                <div class="feature-box">
                    <div class="feature-img">
                        <img
                            src="https://www.gannett-cdn.com/media/2018/12/15/USATODAY/usatsports/MotleyFool-TMOT-657f0436-21e9af86.jpg">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">2,50,000 INR</span>
                        &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <div class="placename">
                            <h3>New York</h3>
                        </div>
                        <div class="summary">
                            <p>
                                New York City comprises 5 boroughs sitting where the Hudson River
                                meets the Atlantic Ocean. At its core is Manhattan,
                                which is the world’s major
                                financial and cultural centers.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 slow animated fadeInDown box delay-1500">
                <div class="feature-box">
                    <div class="feature-img">
                        <img
                            src="https://www.cleartrip.com/collections/wp-content/uploads/2018/04/palolem-beach.jpg">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">8,000 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>


                        </span>
                        <div class="placename">
                            <h3>Goa</h3>
                        </div>
                        <div class="summary">
                            <p>
                                Goa is a state in western India with coastlines stretching along the Arabian Sea.
                                Its
                                long history as a Portuguese colony prior to 1961.Goa is also known for its beaches


                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 slow animated fadeInDown box delay-2000">
                <div class="feature-box">
                    <div class="feature-img">
                        <img style="height: 235px;"
                            src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/10/20/Pictures/himachal-hindustan-umbrella-september-shelter-saturday-september_d4fc0cb2-d456-11e8-841e-211dfd3178e1.jpg">
                    </div>
                    <a href="login.html" style="text-decoration: none;"><span class="price">9,000 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <div class="placename">
                            <h3>Shimla</h3>
                        </div>
                        <div class="summary">
                            <p>
                                Shimla is the capital of the northern Indian state of Himachal Pradesh, in the
                                Himalayan
                                foothills.
                                Once the summer capital of British India.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 slow animated fadeInDown box delay-2500">
                <div class="feature-box">
                    <div class="feature-img">
                        <img src="https://cdn1.goibibo.com/t_tg_fs/nilgiris-ooty-149342248226-orijgp.jpg"
                            style="height: 235px;">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">12,000 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <div class="placename">
                            <h3>Ooty</h3>
                        </div>
                        <div class="summary">
                            <p>
                                Ooty (short for Udhagamandalam) is a resort town in the Western Ghats mountains, in
                                southern India's Tamil Nadu state.
                                Founded as a British Raj summer resort.
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>