<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top GreyHeader" id="mynav">
        <div class="container">
            <!-- <a class="navbar-brand" href=""><img src></a> -->
            <img style="width: 190px; height: 35px;"
                src="assets\images\Travelex_Logo_Uniform.png"
                alt="travelex">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i>
                            Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutus"><i class="fa fa-users" aria-hidden="true"></i>
                            About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile" href="signup.html"><i class="fa fa-sign-in"
                                aria-hidden="true"></i>
                            Signup </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="imdrender" style="display: none;">
    <img src="https://wallpaperaccess.com/full/355030.jpg" alt="">
    <img src="https://wallpaperplay.com/walls/full/1/1/3/272847.jpg" alt="">
    <img src="https://i.pinimg.com/originals/a3/68/0a/a3680a12cf21dfb1c389dc6a7beaf90c.jpg" alt="">
    <img src="https://assets3.thrillist.com/v1/image/2420645/size/tmg-gift_guide_default_2x.jpg" alt="">
    <img src="https://i.pinimg.com/originals/8f/cf/a2/8fcfa28d2ec30597f8bf5d36f77b8167.jpg" alt="">
    <img src="https://vistapointe.net/images/amsterdam-4.jpg" alt="">
</div>
<section class="header hdd1" id="head1"
    style="background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://vistapointe.net/images/amsterdam-4.jpg')">
    <div class="one">
        <h1 class="txt1" style=" zoom: 200%;font-size: 55px;font-weight: 700;font-family: sans-serif;">Travel Across
            the World</h1>
        <p class="txt2" style="zoom: 200%;font-weight: 700;font-family: sans-serif;">Enjoy your vactions like never
            before</p>
    </div>
    <br>
</section>
<section class="features animatedParent animateOnce">
    <h1 class="slower animated rotateIn box" style="text-align: center; padding-bottom: 30px; font-family: sans-serif;font-weight: 700;">Featured
        Destinations</h1>
    <div class="container ">
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 slow animated fadeInDown box">
                <div class="feature-box">
                    <div class="feature-img">
                        <img
                            src="https://static01.nyt.com/images/2017/01/18/world/australia-newsletter/australia-newsletter-articleLarge.jpg?quality=75&auto=webp&disable=upscale">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">1,00,000 INR</span>
                        &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>

                        </span>
                        <div class="placename">
                            <h3>Sydney</h3>
                        </div>
                        <div class="summary">
                            <p>
                                Sydney, capital of New South Wales and one of Australia's largest cities,
                                is best known for its Sydney Opera House, with a distinctive sail-like design.

                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 slow animated fadeInDown box delay-500">
                <div class="feature-box">
                    <div class="feature-img">
                        <img
                            src="https://cdn-04.independent.ie/life/travel/article34651285.ece/4f0c0/AUTOCROP/w620/zurich.jpg">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">1,50,000 INR</span>
                        &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>


                        </span>
                        <div class="placename">
                            <h3>Zurich</h3>
                        </div>
                        <div class="summary">
                            <p>
                                The city of Zurich, a global center for banking and finance, lies at the north end
                                of Lake Zurich in northern Switzerland.
                                The picturesque lanes of the central Altstadt.

                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 slow animated fadeInDown box delay-1000">
                <div class="feature-box">
                    <div class="feature-img">
                        <img
                            src="https://www.gannett-cdn.com/media/2018/12/15/USATODAY/usatsports/MotleyFool-TMOT-657f0436-21e9af86.jpg">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">2,50,000 INR</span>
                        &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <div class="placename">
                            <h3>New York</h3>
                        </div>
                        <div class="summary">
                            <p>
                                New York City comprises 5 boroughs sitting where the Hudson River
                                meets the Atlantic Ocean. At its core is Manhattan,
                                which is the world’s major
                                financial and cultural centers.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 slow animated fadeInDown box delay-1500">
                <div class="feature-box">
                    <div class="feature-img">
                        <img
                            src="https://www.cleartrip.com/collections/wp-content/uploads/2018/04/palolem-beach.jpg">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">8,000 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>


                        </span>
                        <div class="placename">
                            <h3>Goa</h3>
                        </div>
                        <div class="summary">
                            <p>
                                Goa is a state in western India with coastlines stretching along the Arabian Sea.
                                Its
                                long history as a Portuguese colony prior to 1961.Goa is also known for its beaches


                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 slow animated fadeInDown box delay-2000">
                <div class="feature-box">
                    <div class="feature-img">
                        <img style="height: 235px;"
                            src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/10/20/Pictures/himachal-hindustan-umbrella-september-shelter-saturday-september_d4fc0cb2-d456-11e8-841e-211dfd3178e1.jpg">
                    </div>
                    <a href="login.html" style="text-decoration: none;"><span class="price">9,000 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <div class="placename">
                            <h3>Shimla</h3>
                        </div>
                        <div class="summary">
                            <p>
                                Shimla is the capital of the northern Indian state of Himachal Pradesh, in the
                                Himalayan
                                foothills.
                                Once the summer capital of British India.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 slow animated fadeInDown box delay-2500">
                <div class="feature-box">
                    <div class="feature-img">
                        <img src="https://cdn1.goibibo.com/t_tg_fs/nilgiris-ooty-149342248226-orijgp.jpg"
                            style="height: 235px;">
                    </div>
                    <a href="login.html" style="text-decoration: none;"> <span class="price">12,000 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <div class="placename">
                            <h3>Ooty</h3>
                        </div>
                        <div class="summary">
                            <p>
                                Ooty (short for Udhagamandalam) is a resort town in the Western Ghats mountains, in
                                southern India's Tamil Nadu state.
                                Founded as a British Raj summer resort.
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="banner" class="banner">
    <div class="banner-highlights">
        <div class="container">
            <div class="row animatedParent animateOnce">
                <div class="col-md-8 slow animated fadeInLeft box" style="font-family: sans-serif;font-weight: 800;">
                    <h2>Book now and get amazing offers</h2>
                    <p>Enjoy your vacations at low cost</p>
                </div>
                <div class="col-md-4 slow animated fadeInRight box">
                    <button type="button" class="book-btn"><a style="color: white; text-decoration: none;"
                            href="login.html">Book now</a></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="users-feedback">
    <h1 style="text-align: center;font-family: sans-serif;font-weight: 700;">Costumers Reviews</h1>
    <div class="container">
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 slower animated fadeInLeft box">
                <div class="users-review">
                    <p>Definately, a great place to choose your vacation destination, with
                        great offers.
                    </p>
                    <h5>John Doe</h5>
                    <small>Chicago</small>
                </div>
                <img
                    src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="col-md-4 slower animated fadeInLeft box delay-500">
                <div class="users-review">
                    <p>Definately, a great place to choose your vacation destination, with
                        great offers.
                    </p>
                    <h5>Jane Doe</h5>
                    <small>Melbourne</small>
                </div>
                <img src="https://i.pinimg.com/originals/62/03/8e/62038ed2eee55edc230ba7604ed24b41.jpg">
            </div>
            <div class="col-md-4 slower animated fadeInLeft box delay-1000">
                <div class="users-review">
                    <p>Definately, a great place to choose your vacation destination, with
                        great offers.
                    </p>
                    <h5>Harry Doe</h5>
                    <small>New Delhi</small>
                </div>
                <img
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
        </div>
    </div>
</section>
<section id="aboutus" class="aboutus animatedParent animateOnce">
    <div class="info slower animated fadeInLeft box">
        <img style="width: 190px; "
            src="https://luxurylifestyleawards.com/wp/wp-content/uploads/2019/01/Travelex_Logo_Uniform.png">
        <br>
        <br>
        <div style="color:grey; font-family:Verdana, Geneva, Tahoma, sans-serif; line-height: 10px;">
            <p>Travelex,
            </p>
            <p> GLA University</p>
            <p>Mathura, UP</p>
            <p>Uttar Pradesh 281001</p>
        </div>
        <br>
        <p class="social" style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">
            Follow Us &nbsp
            <a href="#" style="color: white;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            &nbsp <a href="#" style="color: white;"><i class="fa fa-instagram" aria-hidden="true"></i></a> &nbsp <a
                style="color: white;" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </p>
    </div>
    <div class="uselik slower animated fadeInRight box">
        <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">Useful Links</p>

        <ul style="list-style: none;">
            <li><a style="text-decoration: none;" href="last.html/#FAQ">FAQ</a></li>

            <li><a style="text-decoration: none;" href="last.html/#TAC">Terms and Condition</a></li>
            <li><a style="text-decoration: none;" href="last.html/#PP">Privacy Policy</a></li>
            <li><a style="text-decoration: none;" href="last.html/#TOU">Terms of Use</a></li>
            <li><a style="text-decoration: none;" href="last.html/#RP">Refund Policy</a></li>
        </ul>
    </div>
    <div class="gtch slower animated fadeInDown box">
        <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">Get in touch</p>
        <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                class="fa fa-mobile" aria-hidden="true"></i>&nbsp +91 9154621138 | 9996543952</p>
        <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp vineet.rathor_cs17@gla.ac.in
        </p>
        <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp saurabh.singh_cs17@gla.ac.in
        </p>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://the-vr7.github.io/Hello-World/css3-animate-it.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
 $(function() {
var header = $(".GreyHeader");
$(document).scroll(function() {    
    var scroll = $(document).scrollTop();
    console.log(scroll);
    if (scroll >= 3300)
    {
        header.removeClass("FireBrickRed ").addClass('GreyHeader');
    }
    else if (scroll >= 2750)
    {
        header.removeClass('GreyHeader').addClass("FireBrickRed ");
    }
    else if (scroll >= 2100)
    {
        header.removeClass("FireBrickRed ").addClass('GreyHeader');
    }
    else if (scroll >= 700) {
        header.removeClass('GreyHeader').addClass("FireBrickRed ");
    }
    else {
        header.removeClass("FireBrickRed ").addClass('GreyHeader');
    }
});
});</script>