<section id="sliderpart">
    <div class="imdrender" style="display: none;">
        <img src="assets/images/banner/p1.jpg" alt="">
        <img src="assets/images/banner/p2.jpg" alt="">
        <img src="assets/images/banner/p3.jpg" alt="">
        <img src="assets/images/banner/p4.jpg" alt="">
        <img src="assets/images/banner/p5.jpg" alt="">
        <img src="assets/images/banner/p6.jpg" alt="">
    </div>

    <section class="header hdd1" id="head1"
        style="background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('assets/images/banner/p6.jpg')">
        <div class="one">
            <h1 class="txt1" style=" zoom: 200%;font-size: 55px;font-weight: 700;font-family: sans-serif;"> {{banner.head1}} </h1>
            <p class="txt2" style="zoom: 200%;font-weight: 700;font-family: sans-serif;"> {{banner.head2}} </p>
        </div>
        <br>
    </section>
</section>
<!-- <app-slider></app-slider> -->
<app-features></app-features>    
<app-banner></app-banner>
<app-feedback></app-feedback>
<app-aboutus></app-aboutus>