<section id="sliderpart">
    <div class="imdrender" style="display: none;">
        <img src="https://wallpaperaccess.com/full/355030.jpg" alt="">
        <img src="https://wallpaperplay.com/walls/full/1/1/3/272847.jpg" alt="">
        <img src="https://i.pinimg.com/originals/a3/68/0a/a3680a12cf21dfb1c389dc6a7beaf90c.jpg" alt="">
        <img src="https://assets3.thrillist.com/v1/image/2420645/size/tmg-gift_guide_default_2x.jpg" alt="">
        <img src="https://i.pinimg.com/originals/8f/cf/a2/8fcfa28d2ec30597f8bf5d36f77b8167.jpg" alt="">
        <img src="https://vistapointe.net/images/amsterdam-4.jpg" alt="">
    </div>

    <section class="header hdd1" id="head1"
        style="background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://vistapointe.net/images/amsterdam-4.jpg')">
        <div class="one">
            <h1 class="txt1" style=" zoom: 200%;font-size: 55px;font-weight: 700;font-family: sans-serif;">Travel Across
                the World</h1>
            <p class="txt2" style="zoom: 200%;font-weight: 700;font-family: sans-serif;">Enjoy your vactions like never
                before</p>
        </div>
        <br>
    </section>
</section>
