<div class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mynav" style="background-color: rgb(6, 0, 12);">
        <div class="container-fluid offset-1 ">
            <img class=" navbar-brand" style="width: 20%; height: 35px;"
                src="assets\images\Travelex_Logo_Uniform.png"
                alt="travelex">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--  -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <app-navmenu [menu] = "menu" ></app-navmenu>
                
                



<!--                 
                    <li class="nav-item" >
                        <a class="nav-link profile" (click)="logout()"  ><i class="fa fa-sign-in"  aria-hidden="true"></i>
                            LogOut </a>
                    </li> -->

            </div>
            <app-usericon [profileimage] = "profileimage"  ></app-usericon>
        </div>
    </nav>
</div>
